@import './../../../styles/global.scss';

.catalog__item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20;
}

.catalog__item_img{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.catalog__item_name{
    margin-bottom: 20px;
}

.catalog__item_price{
    margin-bottom: 20px;
}